#cart{
    img{
        width: 50%;
        margin :10px 0px;
    }
    .ca{
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .bt{
        height: 30px;
        width: 100px;
        background-color: #ffa500de;
        border: none;
        border-radius: 3px;
        color: white;
    }
    
    
}