#Nav{
    .lap{
        background-color: orange;
        padding: 6px;
        border: none;
        width: 90px;
        border-radius: 5px;
      }
      .nav-link{
        font-weight: 500;
        color: white;
      }

      .navbar-brand{
        color: white;
        font-weight: 700;
      }
}